@require './palette'
.article_card
    margin-bottom $card-margin

.card_content_container
    position absolute
    height 50%
    width 100%
    bottom 0

.card_content
    position absolute
    height 75%
    width 100%
    text-align: left 
    padding 20px
