.category_brand
    min-height 5vh
    margin-bottom 1.5rem
    padding 15px
    background var(--title-color)
    color #fff
    text-align center

.category_card
    min-height 5vh
    margin-bottom 1.5rem
    padding 15px
    cursor pointer
    text-align center

.category_name
    padding 0.375rem
    display inline-block


.category_count
    padding 0.375rem
    display inline-block