*
    margin 0
    padding 0 
    box-sizing border-box

:root
    // 全局变量
    --theme-color #60c9e6
    --bg-height 80vh
    --bg-pic url(/assets/imgs/bg01.jpg)

    // 明亮模式变量
    --card-bg-color #fff
    --header-color #ffffffb3
    --font-color #213547
    --tag-color #f6f6f6

    
.dark
    --card-bg-color #000
    --header-color #000000b3
    --font-color #ffffffde
    --tag-color #2f2f2f

html
    font-size 16px
    font-family Arial,'Microsoft Yahei'
    color var(--font-color)


.card_border
    border-radius 10px
    overflow hidden
    min-height 20rem
    background var(--card-bg-color)
    position relative

#background
    min-height var(--bg-height)
    display center

#app
    min-height 100vh
    background #eee

#home
    display flex
    flex-direction column
    background var(--bg-pic) no-repeat left top
    background-attachment fixed

#slider
    width 16rem

#content_container
    width 82%
    margin 0 auto

#content
    display flex

.slider_top
    margin-bottom 24px

.tags_brand
    padding 24px
    background-color var(--theme-color)
    font-weight 900
    color var(--font-color)

.tags
    padding 15px
    margin 0 0 8px 0

.slider_bottom
    padding 12px
    text-align center
    min-height auto

.avatar
    height 6rem
    width 6rem
    background-size cover
    background-position center
    background-color rgb(220 252 230)
    border-radius: 9999px
    margin-left auto
    margin-right auto
    margin-top 1rem

.author
    font-weight 700
    font-size 1.25rem
    margin-top 1rem

.summary
    display grid
    grid-template-columns repeat(3, auto)
    margin-top 1rem

.connection
    display grid
    grid-template-columns repeat(2, auto)
    margin-top 1rem
    margin-bottom 1rem
    text-align left
    font-size 0.9rem
    line-height 1.3rem
    padding-left 1rem


#article_container
    margin-left 24px
    flex-grow 1

.card_title_container
    color #fff
    line-height 1.75rem
    letter-spacing .025em
    text-align center
    padding 12px 24px
    background #374151
    position absolute
    height 50%
    width 100%
    display flex
    align-items flex-end
    justify-content space-evenly
    

.card_title
    position absolute
    height 50%
    width 100%
    bottom 0
    left 0

.title_aborder
    color #fff
    line-height 1.75rem
    letter-spacing .025em
    text-align center

.article_title
    font-weight 900
    font-size 1.25rem

.article_time
    bottom 0

.card_content_container
    position absolute
    height 50%
    width 100%
    bottom 0

.card_content
    position absolute
    height 75%
    width 100%
    text-align: left 
    padding 20px

.card_tag
    position absolute
    text-align left 
    height 25%
    width 100%
    bottom 0

.article_category
    width 6rem
    padding 0 20px
    font-weight 700

.article_tag
    display inline-block 
    border-radius 6px
    border 2px solid var(--tag-color)
    padding 0.375rem
    background var(--tag-color)
    margin-bottom: 4px
    &:hover
        border-color var(--theme-color)

.page_footer
    width 100%
    margin-left auto
    margin-right auto
    display: flex

.footer_blank
    width: 16rem

.footer_middle
    flex-grow 1
    margin 2rem 0
    min-height auto
    padding 30px
    width 50%
    color #7a7a7a
    text-align center


.header
    width 100%
    padding 29px 9% 
    z-index 1
    background var(--header-color)
    transition-property opacity
    transition-timing-function cubic-bezier(.4,0,.2,1)
    transition-duration .15s
    position fixed

.header_container
    display: flex
    align-items flex-end
    justify-content space-between

.header_title
    text-decoration none
    color var(--font-color)
    font-size 1.2rem
    font-weight 700
    &:hover
        opacity: .6;

.switch
    border-radius: 0.5rem;
    border-color transparent
    background-color: transparent;
    padding: 0.5rem;
    &:hover
        border 2px solid var(--theme-color)

.icon
    position relative
    display block
    width 18px
    height 18px
    border-radius 50%
    overflow hidden
    fill var(--font-color)
