$theme-color = #60c9e6
$theme-color-dark = #1aa4ca
$bg-height = 80vh
$bg-pic = url(/assets/imgs/bg07.jpeg)
$sidebar-width = 18rem
$card-margin = 1.5rem

// code
$code-line-height=1.7
$code-font-size=0.875em
$code-block-color=rgba(255, 255, 255, 0.87)
$code-line-highlight-color=rgba(0, 0, 0, 0.5)
$code-line-number-color=rgba(235, 235, 235, 0.38)
$code-copy-code-hover-bg=rgba(255, 255, 255, 0.05)
$code-copy-code-active-text=rgba(235, 235, 235, 0.60)

// search
$accentColor = $theme-color
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc